<html>
	<head>
		<title>Gedik Kütüphane Otomasyonu</title>
	</head>
	<body>
		<table>
			<tr>
			<td><img src="~/images/Logo.png" width="50" alt="Gedik Üniversitesi Logo" /></td>
			<td><p>Kütüphane Otomasyonu</p></td>
			</tr>
		</table>
		
		
	</body>
</html>