@using WP_Hafta2_1.Models

@model Kitap


<html>
	<head>
		<title>Gedik Kütüphane Otomasyonu</title>
	</head>
	<body>
		<table>
			<tr>
			<td><img src="~/images/Logo.png" width="50" alt="Gedik Üniversitesi Logo" /></td>
			<td><p>Kütüphane Otomasyonu</p></td>
			</tr>
		</table>

	<h3>No: @Model.Id </h3>
	<h3>Kitabın Adı: @Model.Adi </h3>
	<h3>Yazar: @Model.Yazar </h3>
	<h3>IDFiyat @Model.Fiyat </h3>
		
		
	</body>
</html>